/.vscode
/a.exe
/Assault Cube Player.CSX
/assaultcube.bat - Shortcut.lnk
/cpp17compatibilitycheck.cpp
/dummy.cpp
/dummy.exe
/hack.cpp
/hack.exe
/hackread.exe
/hackwrite.cpp
/hackwrite.exe
/helloworld.cpp
/helloworld.exe
/IDA Pro (32-bit).lnk
/IDA Pro (64-bit).lnk
/rakeRead.exe
/rakeStringRead.cpp
/reclass
/source
/structBuilder.exe
/tester.exe